@use '../../styles.scss' as *;

.logementpic {
    width: 1240px;
    height: 415px;
    border-radius: 25px;


}

.slideshow-conteneur {
    width: 1240px;
    height: 415px;
    border-radius: 25px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}

.arrowcarousel {
    width: 46.68px;
    height: 79.2px;
    position: absolute;

}

.arrowcarousel-1 {
    left: 23px;
    top: 155px;
}

.arrowcarousel-2 {
    right: 23px;
    top: 155px;
    transform: rotate(180deg);

}

.countslide {
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 18px;
    font-weight: 500;
    color: white;
}



// .imagecontainer {
//     position: relative;

//     .imageLogement {
//         width: 1240px;
//         height: 415px;
//         border-radius: 25px;
//     }

//     .arrowcarousel {
//         width: 32px;
//         height: 32px;
//         transform: rotate(0deg);
//         flex-shrink: 0;
//         position: absolute;
//     }

//     .arrowcarousel-1 {
// left: 30px
//     }

//     .arrowcarousel-2 {
// right: 30px
//     }



// }