@use '../../styles.scss' as *;

.rating{
    justify-self: end
}
.stars-container {
    display: flex;
    gap: 10px;

    .star {
        width: 24.75px;
        height: 24px;
        color: #E3E3E3;

    }

    .fullstar {
        color: $color-primary
    }
}