@use '../../styles.scss' as *;

img {
    width: 1240px;
    height: 415px;
    border-radius: 25px;
}

.imageLogement {
    background-color: aqua;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    color: $color-primary;
}

.tagsLogement {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.tag {
    width: 115px;
    height: 25px;
    border-radius: 10px;
    background-color: $color-primary;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 23.96px;
    padding: 0px 23px;
}

.collapseDescription {
    display: flex;
    background-color: $color-primary;
    align-items: center;
    justify-content: space-between;
    width: 582px;
    border-radius: 5px;
    padding: 5px;
}

.collapseTitle {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;
    /* 25.668px */
}

.ArrowBack {
    width: 32px;
    height: 32px;
    transform: rotate(0deg);
    flex-shrink: 0;
}