@use '../../styles.scss' as *;


.collapseapropos{
    width: 1023px;
}

.collapse{ 
    .collapse-part1 {
        display: flex;
        background-color: $color-primary;
        align-items: center;
        justify-content: space-between;
        height: 52px;
        border-radius: 5px;
        padding: 5px;
        position: relative;
    }

  

    .title {
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 142.6%;
        // line-height: 34.22px;
        text-align: left;
    }

    .collapse__button {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center; // Centrer l'image verticalement
        justify-content: center;
    }

    .collapse__arrow {
        transition: transform 0.3s ease;
        transform-origin: center;
        display: block;
        position: absolute;
        right: 15px;

        &.rotate {
            transform: rotate(180deg);
        }

    }

    .collapse__content {
        height: auto;
        display: flex;
        border-radius: 5px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        color: #000;
        background-color: #F6F6F673;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 142.6%;
        margin-top: -3px;
        padding: 10px 0;


    }
    .collapse__content > div {
        padding: 10px; 
        margin-top: 5px;
        text-align: left;

    }
}