.collapse {
    display: flex;
    background-color: $color-primary;
    align-items: center;
    justify-content: space-between;
    width: 582px;
    border-radius: 5px;
    padding: 5px;
}

.collapse__button {
    background: none;
    border: none;
    cursor: pointer;
}

.collapse__arrow {
    transition: transform 0.3s ease;
}

.collapse__arrow.rotate {
    transform: rotate(180deg);
}

.collapse__content {
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%; /* 17.112px */
}

.title{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;
    /* 25.668px */
}

.ArrowBack {
    width: 32px;
    height: 32px;
    transform: rotate(0deg);
    flex-shrink: 0;
}