.description>* {
    max-width: 100%;
    ; // Empêche le dépassement du contenu
    box-sizing: border-box; // Assure que 
}


.description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title    host"
        "tags     rating"
        "item-collapse-1 item-collapse-2";

    gap: 10px;
    width: 1240px;
    margin: auto;
    max-width: 100%;
    margin-bottom: 40px;

    .title {
        grid-area: title;
    }

    .host {
        grid-area: host;
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 23px;
        // position: absolute;
        // right: 19px;
        // top: 8px;
    }

  

    .tag-container {
        grid-area: tags;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .rating {
        grid-area: rating;
        // position: absolute;
        // left: 440px;
        // bottom: 30px;
    }

    .item-collapse-1 {
        grid-area: item-collapse-2;
        width: 100%;
    }

    .item-collapse-2 {
        grid-area: item-collapse-1;
        width: 100%;
    }

}

.host_rating_container {
    display: flex;
 flex-direction: column-reverse;
 align-items: flex-end;
}