@use '../../styles.scss' as *;

.thumb-content {
    width: 100%;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 50px 50px;
    justify-items: center;
    align-items: center;
    margin: 40px auto;
    overflow: hidden;
}