.thumb{
    border-radius: 10px;
    background: linear-gradient(to left, #040404, #feb47b); 
    height: 238px;
    display: flex;
    align-items: flex-end;
    .thumb-text{
      margin-bottom: 10px;
      margin-left: 10px; 
      font-size: 10px;
      color: white;
    }
}

