@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

$color-primary: #FF6060;

.logokasa {
    width: 210.32px;
    height: 68px;
    gap: 0px;
    opacity: 0px;
}

/* desktop */
@media (min-width: 1200px) {
    .scene {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto; 
    }
  }
  
  /* laptops */
  @media (min-width: 992px) and (max-width: 1199px) {
    .scene{
      padding: 0 10px;
    }
  }
  
  /* tablets */
  @media (min-width: 768px) and (max-width: 991px) {
    .scene {
      padding: 0 15px;
    }
 
  }
  
  /* mobile */
  @media (max-width: 767px) {
    .scene {
      padding: 0 20px;
    }
    .logokasa {
        width: 100px;
        height: auto;
        padding: 30px;
    }
  }