.banner {
    border: 1px solid #000;
    padding: 10px;
    width: 1240px;
    height: 223px;
    top: 163px;
    left: 100px;
    border: 1px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

 


}

.banner-text {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 48px;
    margin: 0;
    padding: 0;
    text-align: center;
}